openapi: 3.1.0
info:
  title: API RADAR - Quantitativo de Interrupções Ativas
  description: |
    API para fornecimento de dados em tempo real das interrupções de fornecimento
    de energia elétrica ativas no sistema da Roraima Energia, conforme especificação
    da ANEEL (Ofício Circular nº 14/2025-SFE/ANEEL).

    ## Visão Geral

    Esta API fornece à ANEEL dados agregados por município e tipo de interrupção,
    permitindo monitoramento em tempo real das ocorrências no sistema elétrico de Roraima.

    ## Autenticação

    Todas as requisições devem incluir o header `x-api-key` com a chave de autenticação
    fornecida pela Roraima Energia.

    ## Rate Limiting

    - Frequência máxima: 12 requisições/minuto
    - Intervalo recomendado: 5 minutos entre consultas

    ## Contato

    Em caso de indisponibilidade ou problemas, entrar em contato através do email
    informado no campo `emailIndisponibilidade` da resposta.
  version: 1.0.0
  contact:
    name: Equipe RADAR - Roraima Energia
    email: radar@roraimaenergia.com.br
  license:
    name: Proprietário
    url: https://roraimaenergia.com.br

servers:
  - url: https://api.roraimaenergia.com.br/radar/v1
    description: Servidor de Produção
  - url: https://api-homolog.roraimaenergia.com.br/radar/v1
    description: Servidor de Homologação
  - url: http://localhost:8001
    description: Servidor de Desenvolvimento

tags:
  - name: Interrupções
    description: Endpoints relacionados a interrupções de fornecimento

paths:
  /quantitativointerrupcoesativas:
    get:
      operationId: getQuantitativoInterrupcoesAtivas
      summary: Quantitativo de Interrupções Ativas
      description: |
        Retorna o quantitativo de interrupções de fornecimento de energia elétrica
        ativas, agregadas por município e tipo de interrupção (programada/não programada).

        ## Regras de Agregação

        Os dados são agregados por:
        - Código IBGE do município (7 dígitos)
        - Tipo de interrupção (1=Programada, 2=Não Programada)

        ## Cache

        Os dados são atualizados a cada 5 minutos. Requisições dentro deste intervalo
        podem retornar dados do cache.

        ## Dados Históricos

        Para recuperar dados de um momento específico no passado, utilize o parâmetro
        `dthRecuperacao`. Esta funcionalidade estará disponível a partir de Abril/2026.
      tags:
        - Interrupções
      security:
        - ApiKeyAuth: []
      parameters:
        - name: dthRecuperacao
          in: query
          required: false
          description: |
            Data/hora para recuperação de dados históricos.
            Formato: dd/mm/yyyy hh:mm

            **Nota:** Funcionalidade disponível a partir de Abril/2026.
          schema:
            type: string
            pattern: '^\d{2}/\d{2}/\d{4} \d{2}:\d{2}$'
            example: "10/12/2025 14:30"
      responses:
        '200':
          description: Requisição processada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuantitativoInterrupcoesResponse'
              examples:
                comInterrupcoes:
                  summary: Com interrupções ativas
                  description: Exemplo com 3 interrupções ativas em diferentes municípios
                  value:
                    idcStatusRequisicao: 1
                    emailIndisponibilidade: "radar@roraimaenergia.com.br"
                    mensagem: ""
                    quantitativoInterrupcoesAtivas:
                      - ideMunicipio: 1400050
                        idcTipoInterrupcao: 2
                        qtdInterrupcoes: 2
                        qtdUcsInterrompidas: 3500
                        qtdEquipesDeslocamento: 4
                        dthUltRecuperacao: "10/12/2025 14:35"
                      - ideMunicipio: 1400050
                        idcTipoInterrupcao: 1
                        qtdInterrupcoes: 1
                        qtdUcsInterrompidas: 200
                        qtdEquipesDeslocamento: 1
                        dthUltRecuperacao: "10/12/2025 14:30"
                      - ideMunicipio: 1400175
                        idcTipoInterrupcao: 2
                        qtdInterrupcoes: 1
                        qtdUcsInterrompidas: 450
                        qtdEquipesDeslocamento: 1
                        dthUltRecuperacao: "10/12/2025 14:32"
                semInterrupcoes:
                  summary: Sem interrupções ativas
                  description: Exemplo quando não há interrupções no sistema
                  value:
                    idcStatusRequisicao: 1
                    emailIndisponibilidade: "radar@roraimaenergia.com.br"
                    mensagem: ""
                    quantitativoInterrupcoesAtivas: []
        '401':
          description: Não autorizado - API Key ausente ou inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                idcStatusRequisicao: 2
                emailIndisponibilidade: "radar@roraimaenergia.com.br"
                mensagem: "API Key inválida ou ausente"
                quantitativoInterrupcoesAtivas: []
        '429':
          description: Too Many Requests - Rate limit excedido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                idcStatusRequisicao: 2
                emailIndisponibilidade: "radar@roraimaenergia.com.br"
                mensagem: "Limite de requisições excedido. Aguarde 60 segundos."
                quantitativoInterrupcoesAtivas: []
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                idcStatusRequisicao: 2
                emailIndisponibilidade: "radar@roraimaenergia.com.br"
                mensagem: "Erro de conexão com banco de dados do Sistema Técnico"
                quantitativoInterrupcoesAtivas: []
        '503':
          description: Serviço indisponível - Manutenção
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                idcStatusRequisicao: 2
                emailIndisponibilidade: "radar@roraimaenergia.com.br"
                mensagem: "Sistema em manutenção programada. Previsão de retorno: 10/12/2025 18:00"
                quantitativoInterrupcoesAtivas: []

  /health:
    get:
      operationId: healthCheck
      summary: Health Check
      description: Verifica o status de saúde da API e suas dependências.
      tags:
        - Interrupções
      responses:
        '200':
          description: API saudável
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: "healthy"
                version: "1.0.0"
                timestamp: "2025-12-10T14:30:00Z"
                dependencies:
                  database: "healthy"
                  cache: "healthy"
        '503':
          description: API com problemas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: "unhealthy"
                version: "1.0.0"
                timestamp: "2025-12-10T14:30:00Z"
                dependencies:
                  database: "unhealthy"
                  cache: "healthy"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        Chave de autenticação fornecida pela Roraima Energia.

        Para obter uma chave, entre em contato com radar@roraimaenergia.com.br

  schemas:
    QuantitativoInterrupcoesResponse:
      type: object
      required:
        - idcStatusRequisicao
        - emailIndisponibilidade
        - mensagem
        - quantitativoInterrupcoesAtivas
      properties:
        idcStatusRequisicao:
          type: integer
          enum: [1, 2]
          description: |
            Status da requisição:
            - 1: Sucesso
            - 2: Erro
          example: 1
        emailIndisponibilidade:
          type: string
          format: email
          description: Email para contato em caso de problemas com a API
          example: "radar@roraimaenergia.com.br"
        mensagem:
          type: string
          description: Mensagem de erro (vazio se sucesso)
          example: ""
        quantitativoInterrupcoesAtivas:
          type: array
          description: Lista de interrupções agregadas por município e tipo
          items:
            $ref: '#/components/schemas/InterrupcaoAtiva'

    InterrupcaoAtiva:
      type: object
      required:
        - ideMunicipio
        - idcTipoInterrupcao
        - qtdInterrupcoes
        - qtdUcsInterrompidas
        - qtdEquipesDeslocamento
        - dthUltRecuperacao
      properties:
        ideMunicipio:
          type: integer
          description: |
            Código IBGE do município (7 dígitos).

            Municípios de Roraima:
            - 1400050: Boa Vista
            - 1400100: Alto Alegre
            - 1400027: Amajari
            - 1400159: Bonfim
            - 1400175: Cantá
            - 1400209: Caracaraí
            - 1400233: Caroebe
            - 1400282: Iracema
            - 1400308: Mucajaí
            - 1400407: Normandia
            - 1400456: Pacaraima
            - 1400472: Rorainópolis
            - 1400506: São João da Baliza
            - 1400605: São Luiz
            - 1400704: Uiramutã
          example: 1400050
          minimum: 1400000
          maximum: 1499999
        idcTipoInterrupcao:
          type: integer
          enum: [1, 2]
          description: |
            Tipo de interrupção:
            - 1: Programada (manutenção preventiva, obras)
            - 2: Não Programada (falhas, acidentes, eventos climáticos)
          example: 2
        qtdInterrupcoes:
          type: integer
          minimum: 0
          description: Quantidade de interrupções/eventos distintos
          example: 2
        qtdUcsInterrompidas:
          type: integer
          minimum: 0
          description: Quantidade de Unidades Consumidoras (UCs) afetadas
          example: 3500
        qtdEquipesDeslocamento:
          type: integer
          minimum: 0
          description: Quantidade de equipes em deslocamento ou em campo
          example: 4
        dthUltRecuperacao:
          type: string
          pattern: '^\d{2}/\d{2}/\d{4} \d{2}:\d{2}$'
          description: Data/hora da última atualização dos dados (formato dd/mm/yyyy hh:mm)
          example: "10/12/2025 14:35"

    ErrorResponse:
      type: object
      required:
        - idcStatusRequisicao
        - emailIndisponibilidade
        - mensagem
        - quantitativoInterrupcoesAtivas
      properties:
        idcStatusRequisicao:
          type: integer
          const: 2
          description: Status de erro
          example: 2
        emailIndisponibilidade:
          type: string
          format: email
          description: Email para contato
          example: "radar@roraimaenergia.com.br"
        mensagem:
          type: string
          description: Descrição do erro ocorrido
          example: "Erro de conexão com banco de dados do Sistema Técnico"
        quantitativoInterrupcoesAtivas:
          type: array
          description: Array vazio em caso de erro
          items:
            $ref: '#/components/schemas/InterrupcaoAtiva'
          maxItems: 0

    HealthResponse:
      type: object
      required:
        - status
        - version
        - timestamp
      properties:
        status:
          type: string
          enum: [healthy, unhealthy, degraded]
          description: Status geral da API
          example: "healthy"
        version:
          type: string
          description: Versão da API
          example: "1.0.0"
        timestamp:
          type: string
          format: date-time
          description: Timestamp da verificação
          example: "2025-12-10T14:30:00Z"
        dependencies:
          type: object
          description: Status das dependências
          properties:
            database:
              type: string
              enum: [healthy, unhealthy]
              example: "healthy"
            cache:
              type: string
              enum: [healthy, unhealthy]
              example: "healthy"

security:
  - ApiKeyAuth: []
